<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/Web-Server/public/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/pic.jpg"/>
    </div>
   
    {{>footer}}
</body>

</html>